---
layout: default
---

<h2 class="heading">Current work</h2>
<ul class="list list-items">
  <li>
    2017 ~ Data Analyst at <mark>Modern Unicorn Inc.</mark>
    <div class="small">Forecast, Statistics</div>
  </li>
  <li>
    2011 ~ Cofounder of <mark>BIU Inc.</mark>
    <div class="small">Seller, Importer</div>
  </li>
</ul>

<h2 class="heading">Fun facts</h2>
<ul class="list list-items">
  <li>Los Angeles (2017-)</a></li>
  <li>Manhattan, KS (2012-2017)</li>
</ul>

<h2 class="heading">Social &amp; contact</h2>
<ul class="list list-items">
  <li>
    <a href="https://github.com/yycyjqc" rel="me">GitHub</a>,
  </li>
  <li>seanyu9168@gmail.com</li>
</ul>

<h2 class="heading">Notes</h2> <a class="small" href="/notes.xml">feed</a>
<ul class="list-notes">
  {% for note in site.data.notes limit: 5 %}
    <li class="note">
      <time class="small">{{ note.date | date: "%b %d, %Y" }}</time> <a href="/notes#date-{{ note.date | date: "%Y-%m-%d" }}{{ note.slug }}" class="small">#</a>
      <div>{{ note.content | markdownify }}</div>
    </li>
  {% endfor %}
</ul>

{% if site.data.notes.size > 5 %}
  <a class="small" href="/notes">All notes</a>
{% endif %}
