---
layout: default
---

<h2 class="heading">Current work</h2>
<ul class="list list-items">
  <li>
    2017 ~ Data Analyst at <mark>Modern Unicorn Inc.</a></mark>
    <div class="small">Forecast, Statistics</div>
  </li>
  <li>
    2015 ~ Cofounder of <mark>BIU Inc.</a></mark>
    <div class="small">Seller, Importer</div>
  </li>
</ul>

<h2 class="heading">Fun facts</h2>
<ul class="list list-items">
  <li><a href="https://www.instagram.com/p/Brn5p01Huga/">New York (2018-)</a></li>
  <li><a href="https://www.instagram.com/p/SA0L5tpaqE/">London + Birmingham (2009-2013)</a></li>
  <li><a href="https://www.instagram.com/p/joCAsOJakQ/">Plays bass</a></li>
  <li><a href="https://www.instagram.com/p/BchP8NXBiDy/">Taiwanese</a></li>
</ul>

<h2 class="heading">Social &amp; contact</h2>
<ul class="list list-items">
  <li>
    <mark><a href="https://github.com/yycyjqc" rel="me">GitHub</a></mark>
  </li>
  <li>seanyu9168@gmail.com</li>
</ul>

<h2 class="heading">Notes</h2> <a class="small" href="/notes.xml">feed</a>
<ul class="list-notes">
  {% for note in site.data.notes limit: 5 %}
    <li class="note">
      <time class="small">{{ note.date | date: "%b %d, %Y" }}</time> <a href="/notes#date-{{ note.date | date: "%Y-%m-%d" }}{{ note.slug }}" class="small">#</a>
      <div>{{ note.content | markdownify }}</div>
    </li>
  {% endfor %}
</ul>

{% if site.data.notes.size > 5 %}
  <a class="small" href="/notes">All notes</a>
{% endif %}
